<div class="container-fluied">
    <h2>Menu</h2>
    <div class="row">
        <header><h1> Today's special!
            Apollo fish fry</h1></header>
           <div class="col-md-9">
            <ul class="links">LIST OF ITEMS:
                <li>chicken lollipop  -  180Rs</li>
                <li>chicken nuggets  -  100Rs</li>
                <li>mutton keema  -  200Rs</li>
                <li>paneer butter masala  -  150Rs</li>
                <li>chicken burger  -  120Rs</li>

            </ul>
        </div>
           </div>
</div>
