.container {
    height: 100vh;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .btn-primary {
    background: #1a73e8;
    border: none;
  }
  
  .btn-primary:hover {
    background: #1669c1;
  }
  